In [8]:
import mendeleev
from architector import io_ptable
import pandas as pd

In [3]:
main_group_metals = ['Ge', 'Se', 'Te', 'Sb', 'As']

In [5]:
mendeleev.element('Te').oxidation_states()

[-2, 2, 4, 6]

In [ ]:
rows = []
# Lower coordination numbers for lower oxidation states
lower_cns = [2,3,4]
all_cns = [2,3,4,5,6]
for mg in main_group_metals:
    for ox in mendeleev.element(mg).oxidation_states():
        # Only take oxidation states gt or eq to 0.
        if ox >= 0:
            trow = {}
            trow['metal'] = mg
            trow['ox'] = ox
            if ox > 2:
                trow['coreCNs'] = all_cns
            else:
                trow['coreCNs'] = lower_cns
            rows.append(trow)

In [10]:
df = pd.DataFrame(rows)

In [11]:
df.to_pickle('main_group_as_metals.pkl')

In [12]:
df

   metal  ox          coreCNs
0     Ge   2        [2, 3, 4]
1     Ge   4  [2, 3, 4, 5, 6]
2     Se   2        [2, 3, 4]
3     Se   4  [2, 3, 4, 5, 6]
4     Se   6  [2, 3, 4, 5, 6]
5     Te   2        [2, 3, 4]
6     Te   4  [2, 3, 4, 5, 6]
7     Te   6  [2, 3, 4, 5, 6]
8     Sb   3  [2, 3, 4, 5, 6]
9     Sb   5  [2, 3, 4, 5, 6]
10    As   3  [2, 3, 4, 5, 6]
11    As   5  [2, 3, 4, 5, 6]